.pagination-container {
  display: flex;
  height: 40px;
  min-width: 700px;
  max-width: 1024px;
  padding: 10px 0;
  justify-content: center;    
  align-items: center;
  gap: 20px;
  font-family: 'Pretendard';
}

.pageBtn {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.pageBtnActive {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}

.slot {
  width: 20px;           
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-variant-numeric: tabular-nums;
}

@media (max-width: 1024px) {
  .pagination-container {
    display: none;
  }
}
