.container {
  width: 100%;
  min-width: 375px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  background: #FFF;
}

.order-summary-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  width: 100%;
  height: 60px;
  padding: 10px;
}

.price-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.price-sub-tag {
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 15px */
  letter-spacing: -0.45px;
}

.price-amount {
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.2px;
}

.price-unit {
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.72px;
}

.quantity-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100%;
}

.order-action-panel {
  width: 100%;
  min-width: 375px;
  height: 60px;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.order-action-panel-right {
  display: flex;
  width: 310px;
  align-items: center;
  gap: 5px;
  flex-shrink: 0;
  align-self: stretch;
}

.favorite-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 8px;
  gap: 10px;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 8px;
  border: 0.3px solid #706D6D;
  background: #FFF;
}

.send-as-gift-button {
  /* layout */
  display: flex;
  padding: 0 8px;
  justify-content: space-around;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 8px;
  border: 0.3px solid #706D6D;
  background: #FFF;
  height: 40px;

  /* typography */
  text-align: center;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.42px;
}

.rent-button {
    /* layout */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 8px;
  border: 0.5px solid #706D6D;
  background: #FFF;
  height: 40px;

  /* typography */
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.42px;
}

.add-to-cart-button {
  /* layout */
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 8px;
  border: 0.3px solid #D7D2CB;
  background: #2C3E50;
  height: 40px;

  /* typography */
  color: #FFF;
  text-align: center;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.42px;
}

.buy-now-button {
  /* layout */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 8px;
  border: 0.5px solid #706D6D;
  background: #FFF;
  height: 40px;

  /* typography */
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.42px;
}

.favorite-button:hover,
.send-as-gift-button:hover,
.buy-now-button:hover,
.rent-button:hover
{
  background: #dadada;
}

.add-to-cart-button:hover {
  background: #3b4d5f;
}

.favorite-button:is(:hover, :focus, :active, :focus-visible),
.send-as-gift-button:is(:hover, :focus, :active, :focus-visible),
.add-to-cart-button:is(:hover, :focus, :active, :focus-visible) {
  border-color: #706D6D !important;
}

.buy-now-button:is(:hover, :focus, :active, :focus-visible) {
  border-color: #3b4d5f !important;
}

@media (min-width: 1024px) {
  .container {
    flex-direction: row;
    padding: 0 300px;
  }

  .order-action-panel {
    width: 470px;
  }

  .order-action-panel-right {
    width: 400px;
  }
}
