.books-category-wrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  padding: 30px 30px 100px;
  z-index: 1000;
  background: #F7f7f7;
  transition: all 0.5s ease;
  height: 100vh;
  overflow-y: auto;
  box-sizing: border-box;
}
.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 0;
  position: relative;
  border-bottom: 1px solid #e0e0e0;
}
.category-logo {
  font-family: GmarketSans;
  font-size: 20px;
  font-weight: 400;
  color: #2C3E50;
  text-align: center;
}
.close-button {
  all: unset; /* Reset default button styles applied by the browser */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  position: absolute;
  right: 0;
  top: 0;
}
.category-list-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.category-title {
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 600;
  padding: 20px 0;
}
.category-all {
  display: flex;
  align-self: start;
  align-items: center;
  gap: 8px;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  padding-bottom: 20px;
}
.category-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}
.category-all:hover, .category-item:hover {
  text-decoration: underline;
}
.category-icon {
  font-size: 16px;
}

/*
  Mobile rules (< 1024px)
  - Enforce min width 375px
*/
@media (max-width: 1023.98px) {
  .books-category-wrapper {
    width: 100%;
    min-width: 375px;
    max-width: 1023px;
    align-items: flex-start;
    overflow-y: auto;
  }
  .category-header {
    justify-content: space-between;
  }
  .category-list-wrapper {
    width: 100%;
  }
  .category-items {
    display: flex;
    flex-direction: column;
    gap: 20px
  }
}

/* Desktop rules (≥ 1024px) */
@media (min-width: 1024px) {
  .books-category-wrapper {
    width: 300px;
    height: 100%;
    padding: 30px;
    overflow-y: auto;
  }
  .category-logo {
    font-size: 24px;
  }
  .close-button {
    font-size: 24px;
  }
  .category-title {
    font-size: 16px;
  }
  .category-all {
    font-size: 16px;
  }
  .category-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .category-item {
    font-size: 16px;
  }
  .category-icon {
    font-size: 18px;
  }
}
