.post-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 375px;
  max-width: 1023px;
  padding: 30px 22px;
  box-sizing: border-box;
  border-radius: 0;
  background-color: #fff;
  z-index: 1000;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.post-title {
  color: #000;
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 600;
}

.close-button {
  width: 24px;
  height: 24px;
}

.close-icon {
  font-size: 24px;
  color: #757575;
}

.post-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  padding: 30px 0;
}

.product-wrapper {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  gap: 10px;
  height: 122px;
  padding: 16px;
  border-radius: 10px;
  border: 0.5px solid #B3B3B3;
}

.product-item {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  gap: 12px;
  flex: 1 0 0;
}

.product-image {
  width: 74px;
  height: 90px;
  aspect-ratio: 37/45;
}

.product-wrapper span {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  flex: 1 0 0;
  padding: 20px 0;
  color: #000;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 500;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  width: 100%;
  height: 406px;
  padding: 20px 0;
  gap: 20px;
  flex: 1 0 0;
}

.form-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 10px;
}

.form-title p {
  color: #000;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

.form-title p span {
  color: #009951;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 500;
}

.form-title input {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  height: 60px;
  padding: 16px;
  gap: 10px;
  border-radius: 10px;
  border: 0.5px solid #B3B3B3;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 400;
}

.form-title input::placeholder {
  color: #B3B3B3;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 500;
}

.form-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex: 1 0 0;
  gap: 10px;
}

.form-description p {
  color: #000;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

.form-description span {
  color: #009951;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 500;
}

.form-description-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex: 1 0 0;
  padding: 16px;
  gap: 10px;
  border-radius: 10px;
  border: 0.5px solid #B3B3B3;
}

.form-description textarea {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  height: 170px;
  border: none;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 400;
  line-height: 130%;
}

.form-description textarea::placeholder {
  color: #B3B3B3;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 500;
}

.char-count {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-self: stretch;
  height: 32px;
  padding: 10px 0;
  font-family: Pretendard;
  font-size: 12px;
  font-weight: 400;
}

.current-length {
  color: #000 !important;
}

.max-length {
  color: #7f7f7f !important;
}

.submit-button {
  display: flex;
  padding-top: 28px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
}

@media (min-width: 1024px) {
  .post-popup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 560px;
    height: 750px;
    padding: 30px 22px;
    border-radius: 16px;
    background: #FFF;
    transform: translate(-50%, -50%);
    z-index: 1000;
  }
}
