.product-list-body {
  display: flex;
  max-width: 780px;
  margin: 0 auto;
  padding: 15px 10px;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 30px 10px;
  flex-wrap: wrap; 
}

@media (min-width:1024px){
  .product-list-body {
    display: grid;
    max-width: 1024px;
    padding: 15px 20px;
    row-gap: 30px;
    column-gap: 15px;
    flex: 1 0 0;
    align-self: stretch;
    grid-template-rows: fit-content(100%) fit-content(100%);
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
