.page-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.max-width-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
  max-width: 1024px;
  padding-top: 20px;
}

.page-title {
  display: none;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 100%;
  aspect-ratio: 2.5/1;
  background-image: url(../../assets/customer_banner.png);
  background-size: cover;
  background-position: 0 50%;
  background-repeat: no-repeat;
  padding: 10%;
}

.banner-title {
  color: #FFF;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}

.banner-description {
  color: #FFF;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.latest-notice {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 20px 0;
  border-bottom: 5px solid #f0f0f08c;
}

.latest-notice-icon {
  width: 20px;
  aspect-ratio: 1/1;
  background-image: url('../../assets/customer_faq_notice_icon.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
}

.latest-notice-title {
  color: #000;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.faq-list-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 35px;
  padding: 0 20px;
}

.faq-list-title {
  align-self: self-start;
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}

.faq-list-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.faq-answer {
  width: 100%;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  background-color: rgb(247, 244, 244);
}

.faq-pagination {
  display: flex;
  justify-content: space-around;
  max-width: 200px;
  width: 100%;
}

.qna-guide-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  gap: 30px;
  padding: 30px 0;
  border-radius: 10px;
  background-color: #fcf9f9;
}

.qna-guide-description {
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.qna-guide-button-wrapper {
  display: flex;
  gap: 20px;
}

.customer-center-info {
  align-self: self-start;
  padding-left: 30px;
  color: #2b2a2a;
  font-family: Pretendard;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%;
  text-align: left;
}

@media (min-width: 1024px) {
  .page-title {
    display: flex;
    color: #000;
    text-align: center;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 24px */
  }

  .max-width-container {
    padding-top: 50px;
  }
}