.home-layout {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-top: 30px;
}

.banner-layout {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 20px;
}

.product-slider-layout {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-slider-title {
  width: 100%;
  padding: 0 20px;
  
  max-width: 1440px;
  align-self: flex-start;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 10px;
}

.book-slider-layout {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.section-title {  
  max-width: 1440px;
  align-self: flex-start;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 20px;
}
