.home-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-top: 30px;
}
/* Top Banners */
.banner-layout {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 20px;
}
/* Book-category */
.book-category-layout {
  padding: 0 20px;
}
.category-buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  justify-items: center;
  align-items: center;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  text-align: center;
}
.category-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s;
}
.category-button:hover {
  background-color: #e0e0e0;
  transform: translateY(-4px);
}
.category-icon {
  width: 45%;
  height: auto;
  object-fit: contain;
}
.category-name {
  font-family: Pretendard !important;
  color: #333 !important;
  font-size: 14px !important;
  font-weight: 400 !important;
}
/* Today-Book */
.today-book-layout {
  width: 100%;
  max-width: 1024px;
  padding: 0 20px;
  font-family: Pretendard;
}
.today-book-header h2 {
  align-self: flex-start;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}
.today-book-card {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7;
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  transition: transform 0.2s ease;
}
.today-book-image {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
}
.today-book-image::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: inherit;
  background-size: cover;
  background-position: center;
  filter: blur(10px) brightness(0.8);
  transform: scale(1.8);
  z-index: 1;
}
.today-book-image img {
  position: relative;
  z-index: 2;
  width: 200px;
  height: auto;
  object-fit: cover;
  filter: none;
  padding: 20px;
}
.today-book-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  height: 100%;
}
.today-book-content {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.today-book-content h3 {
  font-size: 16px;
  font-weight: 700;
  color: #444;
}
.today-book-sub {
  font-size: 14px;
  font-weight: 500;
  color: #777;
  margin: 0;
}
.today-book-review {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  padding-top: 10px;
}
/* MBTI Picks */
.book-slider-layout {
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}
.section-title {  
  max-width: 1024px;
  align-self: flex-start;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 20px;
}
/* Ad banner */
.ad-banner-layout {
  width: 100%;
  max-width: 1024px;
  display: grid;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0 20px;
}
.ad-banner-img {
  width: 100%;
  height: auto;
  display: block;
  height: auto;
  max-width: 500px;
  border-radius: 8px;
}
/*  Product Promo */
.product-slider-title {
  display: none;
}
.product-slider-layout {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0 20px;
}
/* Feed card */
.feed-card-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 20px 30px;
  width: 100%;
  max-width: 1024px;
  font-family: Pretendard;
}
.feed-card-header {
  width: 100%;
  margin-bottom: 20px;
}
.feed-card-header h2 {
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}
.feed-card-header p {
  font-size: 14px;
  color: #888;
  font-weight: 400;
  margin: 0;
  text-align: left;
}
.feed-card-wrapper {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(2, 1fr);
  max-width: 600px;
}
.feed-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.feed-image-wrapper {
  width: 100%;
  overflow: hidden;
  border-radius: 12px;
  position: relative;
  aspect-ratio: 1 / 1;
}
.feed-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  z-index: 1;
}
.feed-user-info {
  position: absolute;
  display: flex;
  align-items: center;
  left: 10px;
  bottom: 10px;
  gap: 6px;
  z-index: 2;
}
.feed-profile {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
}
.feed-user-id {
  font-size: 13px;
  color: #ffffff;
  font-weight: 500;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
}

@media (min-width: 1024px) {
  /* Book-category */
  .category-buttons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 16px;
    max-width: none;
  }
  .category-button {
    width: 80px;
    height: 80px;
    border-radius: 20px;
  }
  .category-icon {
    width: 35px;
    height: 35px;
  }
  /* Today Book */
  .today-book-card {
    flex-direction: row;
    align-items: center;
  }
  .today-book-review {
    height: 180px;
  }
  /* Ad banner */
   .ad-banner-layout {
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
  }
  /* Product Promo */
  .product-slider-title {
    display: flex;
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    margin: 0;
  }
  .product-slider-layout {
    padding: 0;
  }
  /* Feed card */
  .feed-card-layout {
    padding: 0 0 50px;
  }
  .feed-card-wrapper {
    max-width: 1024px;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    padding: 0;
  }
  .feed-image {
    max-width: 300px;
  }
  .feed-user-info {
    position: absolute;
    display: flex;
    align-items: center;
    left: 20px;
    bottom: 10px;
    gap: 6px;
    z-index: 2;
  }
  .feed-profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
  }
}
