/*
  Mobile rules (< 1024px)
  - Enforce min width 375px
*/
@media (max-width: 1023.98px) {
  .details-main {
    width: 100%;
  } 
}

/* Desktop rules (≥ 1024px) */
@media (min-width: 1024px) {
  .details-main {
    display: flex;
    flex-direction: column;
    width: 1024px;
    margin:0 auto; 
  } 
}