.books-category-wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  z-index: 2;
  background: #FFF;
}
.category-list-wrapper {
  display: flex;
  flex-direction: column;
}
.category-all {
  all: unset; /* Reset default button styles applied by the browser */
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  align-self: start;
  cursor: pointer;
}
.category-item {
  all: unset; /* Reset default button styles applied by the browser */
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
.category-all:hover, .category-item:hover {
  text-decoration: underline;
}

/*
  Mobile rules (< 1024px)
  - Enforce min width 375px
*/
@media (max-width: 1023.98px) {
  .books-category-wrapper {
    width: 100%;
    min-width: 375px;
    max-width: 1023px;
    align-items: flex-start;
  }
  .category-header {
    display: none;
  }
  .category-list-wrapper {
    width: 100%;
    gap: 34px;
  }
  .category-items {
    display: flex;
    flex-direction: column;
    gap: 34px
  }
}

/* Desktop rules (≥ 1024px) */
@media (min-width: 1024px) {
  .books-category-wrapper {
    width: 990px;
    height: 460px;
    min-width: 990px;
    max-width: 990px;
    min-height: 460px;
    max-height: 460px;
    padding: 20px;
    justify-content: space-between;
    border-radius: 10px;
    border: 1px solid #B4B4B4;
  }
  .category-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .category-title {
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .close-button {
    all: unset; /* Reset default button styles applied by the browser */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }
  .category-list-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    gap: 29px;
  }
  .category-items {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(7, min-content);
    grid-template-columns: repeat(5, 1fr);
    column-gap: 30px;
    row-gap: 29px;
    place-items: start start;
  }
}
