.header-layout {
  display: flex;
  width: 100%;
  padding: 14px 24px;
  justify-content: space-between;
  align-items: center;
}

.header-button {
  /* layout */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px !important;

  /* background */
  background: #2C3E50;

  /* typography */
  color: #FFF;
  font-family: "GMarketSans";
  font-weight: 500;
}

.header-title {
  color: #2C3E50;
  text-align: center;
  font-family: "GmarketSans";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/*
  Mobile rules (< 1024px)
  - Enforce min width 375px
*/
@media (max-width: 1023.98px) {
  .header-layout {
    min-width: 375px;
    max-width: 1023px;
    min-height: 60px;
    max-height: 60px;
  }

  .header-button {
    width: 90px;
    height: 32px;
    font-size: 15px;
  }

  .header-title {
    font-size: 20px;
  }
}

/* Desktop rules (≥ 1024px) */
@media (min-width: 1024px) {
  .header-layout {
    height: 65px;
    min-width: 1024px;
    min-height: 65px;
    max-height: 65px;
    border-bottom: 1px solid #C8C8C8;
  }

  .header-button {
    width: 112px;
    height: 37px;
    font-size: 16px;
  }

  .header-title {
    font-size: 24px;
  }
}
