.page-layout {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.book-category-main{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.category-popup-overlay {
  position: relative;
}

.book-category-title {
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 15px 20px 0;
  margin: 0;
}

.banner-layout {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.subpage-layout {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*
  Mobile rules (< 1024px)
  - Enforce min width 375px
*/
@media (max-width: 1023.98px) {
  .book-home-main{
    align-self: stretch;
  }
}

/* Desktop rules (≥ 1024px) */
@media (min-width: 1024px) {
  
  .book-category-main{
    max-width: 1200px;
  }

  .category-popup-overlay {
    left: 17px;
  }
}
