.book-search-main {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
}
.category-popup-overlay {
  position: relative;
}
.book-search-results {
  display: flex;
  align-self: stretch;
}
.book-search-info{
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  letter-spacing: 0.7px;
  padding: 10px 0;
}
.book-search-info strong {
  color: #000;
}
.go-to-cart-popup {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/*
  Mobile rules (< 1024px)
  - Enforce min width 375px
*/
@media (max-width: 1023.98px) {
  .book-search-main {
    align-self: stretch;
  }
  .book-search-container {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    padding: 0 20px 70px;
    width: 100%;
  }
  .book-search-sidebar {
    display: none;
  }
  .book-search-results {
    flex-direction: column;
    align-items: flex-start;
  }
  .book-search-pagination {
    display: none;
  }
}

/* Desktop rules (≥ 1024px) */
@media (min-width: 1024px) {
  .book-search-main {
    margin:0 auto;
  }
  .category-popup-overlay {
    left: 17px;
  }
  .book-search-container {
    padding: 0 20px;
  }
  .book-search-info {
    display: block;
    padding: 20px 0 0;
  }
  .book-search-contents {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 30px 0 60px;
  }
  .book-search-results-container {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .book-search-results {
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
  }
}
