.description-layout {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  padding: 30px 20px;
  gap: 40px;
  font-family: Pretendard;
}

.description-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

.section-title {
  align-self: stretch;
  line-height: 20px;
  font-size: 16px;
  font-weight: 700;
  color: #000;
  margin: 0;
  padding: 10px 0;
}

.introduction-title {
  align-self: stretch;
  font-size: 14px;
  font-weight: 600;
  white-space: pre-wrap;
  word-break: keep-all;
  color: #333;
  margin-bottom: 20px;
}

.introduction-detail, .table-of-contents, .publisher-review  {
  color: #555;
  font-size: 14px;
  font-weight: 300;
  white-space: pre-wrap;
  word-break: keep-all;
}

.description-text {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.description-text.is-expanded {
  -webkit-line-clamp: unset;
  line-clamp: unset;
}

.images-toggle-btn {
  display: flex;
  justify-content: end;
  font-size: 14px;
  font-weight: 700;
  color: #176840;
  padding: 10px;
  width: 100%;
}

.book-info-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-top: 5px solid #eee;
}

.info-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px 0;
}

tbody {
  padding: 10px 0;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

tr {
  display: flex;
  justify-content: space-between;
}

.meta-info-title {
  font-size: 13px;
  font-weight: 500;
}

.meta-info-detail{
  font-size: 13px;
  font-weight: 300;
}

/* Desktop rules (≥ 1024px) */
@media (min-width: 1024px) {
  .description-layout {
    max-width: 1024px;
    padding: 50px 0;
    align-items: center;
    gap: 40px;
    margin: 0 auto;
  }

  .description-section, .book-info-section {
    padding: 0 20px;
  }
  
  .info-table {
    padding: 40px 0;
  }
}
