.go-to-cart-popup {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/*
  Mobile rules (< 1024px)
  - Enforce min width 375px
*/
@media (max-width: 1023.98px) {
  .details-main {
    width: 100%;
    padding-bottom: 50px;
  } 

  .bottom-bar-wrap {
    position: fixed;
    left: 0;
    right: 0;
    bottom: calc(69px + env(safe-area-inset-bottom));
    z-index: 1001;
  }
}

/* Desktop rules (≥ 1024px) */
@media (min-width: 1024px) {
  .details-main {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin:0 auto;
    padding-bottom: 80px;
    align-items: center;
  } 
  
  .bottom-bar-wrap {
    width:100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1001;        
  }
}
