/* 배경 오버레이 */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 999;
    background: rgba(0, 0, 0, 0.5);
    }

/* 팝업 전체 컨테이너 (화면 하단 고정) */
.popup-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background: #fff;
    font-family: "Pretendard";
}

/* 수량/가격 래퍼 */
.quantity-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 30px 20px 0 20px;
}

/* 주문 수량 영역 */
.quantity-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-radius: 6px;
    background-color: #f7f7f7;
}

.quantity-text {
    color: #000;
    font-size: 13px;
    font-weight: 400;
    line-height: 150%;
}

/* - / 숫자 / + 버튼 묶음 */
.counter-label {
    display: flex;
    align-items: center;
    width: 108px;
    height: 36px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #fff;
    flex-shrink: 0;
}

.counter-button {
    width: 100%;
    background: #fff;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.counter-button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.count {
    width: 100%;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    color: #4A4A4A;
}

/* 총 금액 영역 */
.price-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-text {
    font-size: 14px;
    font-weight: 600;
    line-height: 150%;
    color: #1E1E1E;
}

.price-value {
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
    color: #1E1E1E;
    text-align: right;
}

/* 진행 버튼 */
.button-box {
    display: flex;
    align-items: center;
    height: 90px;
    padding: 16px 20px 20px 20px;
    gap: 9px;
    flex-shrink: 0;
    align-self: stretch;
}

.confirm-button {
    flex: 1;
    height: 54px;
    border-radius: 5px;
    cursor: pointer;
    background: #2C3E50;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}

.confirm-button:hover {
    background: #4a6b85;
}

@media (min-width: 1024px) {
  .popup-overlay {
    display: none;
  }
}