.page-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
  gap: 50px;
  width: 100%;
  height: 100%;
  padding: 0 20px;
}

.profile-form-wrapper {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.profile-img {
  width: 100px;
  aspect-ratio: 1/1;
  border-radius: 100px;
  background-image: url(../../assets/account_settings_profile_logo.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.email-wrapper,
.name-wrapper,
.password-wrapper-disabled,
.curent-password-wrapper,
.new-password-wrapper,
.confirm-password-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
}

.password-wrapper-enabled {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}

.email-label,
.name-label,
.password-label {
  color: #1E1E1E;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 14px */
  padding-left: 3px;
}

.name-input-wrapper,
.password-input-wrapper {
  width: 100%;
  display: flex;
  gap: 10px;
}

.email-input,
.name-input,
.password-input {
  height: 36px;
  color: #202020;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%; /* 14px */
}

.delete-account-button {
  color: #BCBCBC;
  text-align: center;
  font-family: Pretendard;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 15px */
}


/* Desktop rules (≥ 1024px) */
@media (min-width: 1024px) {
  .update-profile-form-wrapper {
    gap: 30px;
  }
}
