.page-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Pretendard;
}

.max-width-container {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.page-header {
  width: 100%;
  padding: 20px;
}

.total-count {
  font-size: 18px;
  font-weight: 600;
}

.coupon-list-layout {
  width: 100%;
  max-width: 1024px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 0 20px;
}

@media (min-width: 1024px) {
  .coupon-list-layout { 
    grid-template-columns: repeat(2, minmax(0,1fr));
    justify-items:center; 
  }
}

.coupon-layout {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 384px;
  gap: 20px;
  padding: 20px 35px;
  border-radius: 8px;
  background: #f4f4f4;
}

.coupon-layout::before,
.coupon-layout::after
{
  content: "";
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
}

.coupon-layout::before {
  left: -8px;
}

.coupon-layout::after {
  right: -8px;
}

.coupon-content {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.coupon-tag {
  display: inline-flex;
  flex: 0 0 auto;
  align-self: flex-start;
  white-space: nowrap;
  width: fit-content;
  height: auto;
  box-sizing: content-box;
  padding: 2px 6px;
  background-color: #5D5D5D1A;
  font-size: 10px;
  color: #474747;
  margin-bottom: 5px;
}

.coupon-discount-amount,
.coupon-discount-rate {
  font-size: 18px;
  color: #ff4800;
  font-weight: 700;
  margin: 0;
}

.coupon-name {
  font-size: 14px;
  font-weight: 700;
}

.coupon-expire-date {
  font-size: 12px;
  color: #474747;
  margin: 0;
}

.coupon-remain-date {
  color: #ff4800;
  font-size: 12px;
  font-weight: 600;
  margin-right: 5px;
}

.use-guide-layout {
  display: flex;
  flex-direction: column;
  background: #f4f4f4;
  width: 100%;
  margin-top: 50px;
  font-family: Pretendard;
  padding: 30px;
}

.use-guide-title {
  padding-bottom: 10px;
  margin: 0;
  font-size: 12px;
  font-weight: 600;
}

.use-guide-row {
  padding: 0;
  margin: 0;
  list-style-position: inside;
  font-size: 12px;
  font-weight: 400;
}

@media (min-width: 1024px) {
  .page-layout {
    margin-top: 50px;
  }
}
