.page-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  font-family: Pretendard;
}
.coupon-count {
  font-size: 16px;
  color: #555;
  padding: 20px 20px 10px;
  text-align: left;
  width: 100%;
  max-width: 440px;
}
.coupon-count strong {
  font-weight: 900;
}
.coupon-card {
  position: relative;
  width: 100%;
  max-width: 400px;
  background: #f4f4f4;
  border-radius: 8px;
  padding: 20px 35px;
}
.coupon-card::before,
.coupon-card::after
{
  content: "";
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
}
.coupon-card::before {
  left: -8px;
}
.coupon-card::after {
  right: -8px;
}
.coupon-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.coupon-type {
  font-size: 12px;
  color: #555555;
  background: #dcdcdc;
  padding: 4px 8px;
  border-radius: 2px;
}
.coupon-body {
  margin-top: 8px;
}

.discount {
  font-size: 20px;
  color: #ff4800;
  font-weight: 700;
  margin: 0;
}

.title {
  font-size: 15px;
  font-weight: 700;
}

.expire-date {
  font-size: 12px;
  color: #999;
  margin: 0;
}
.coupon-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
  gap: 20px;
}
.coupon-information-layout {
  display: flex;
  flex-direction: column;
  background: #f4f4f4;
  width: 100%;
  margin-top: 50px;
  font-family: Pretendard;
  padding: 30px;
}
.coupon-information-title {
  padding-bottom: 10px;
  margin: 0;
  font-size: 12px;
  font-weight: 600;
}
.coupon-information-list {
  padding: 0;
  margin: 0;
  list-style-position: inside;
  font-size: 12px;
  font-weight: 400;
}

@media (min-width: 1024px) {
  .page-layout {
    margin-top: 50px;
  }
}
