.page-layout {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px 40px;
  font-family: Pretendard;
}

.status-summary {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  border-bottom: 1px solid #c1c1c1;
}

/* Add divider line between items */
.status-summary > div {
  flex: 1;
  text-align: center;
  position: relative;
}

/* vertical line between items, except last */
.status-summary > div:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 10%;
  height: 100%;
  border-right: 1px solid #c1c1c1;
}

.status-summary div span {
  display: inline-block;
  margin-left: 4px;
  font-weight: 700;
  color: #000;
}

.date-title {
  font-size: 14px;
  font-weight: 400;
  color: #a1a1a1;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0;
}

.date-title strong {
  color: #333;
  padding-right: 4px;
}

.view-details-btn {
  font-size: 13px;
  font-weight: 400;
}

.order-list {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.order-item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

.order-info {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 4px;
}

.order-image img {
  width: 80px;
  height: 100px;
  object-fit: cover;
}

.order-details {
  display: flex;
  align-items: column;
}

.status {
  display: inline-block;
  padding: 2px 6px;
  border-radius: 2px;
  font-size: 12px;
  font-weight: 400;
  color: #000;
  background-color: #d9d9d9;
}

.title {
  font-size: 15px;
  font-weight: 400;
  color: #000;
}

.quantity {
  font-size: 12px;
  color: #555;
}

.price {
  font-size: 15px;
  font-weight: 700;
  color: #333;
}

.review-btn {
  display: flex;
  align-items: center;
}

.review-btn :global(button) {
  padding: 4px 8px !important;
  font-size: 12px !important;
}

@media (min-width: 1024px) {
  .page-layout {
    padding-top: 50px;
  }
}
