.page-layout {
  min-width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
  background-color: #fff;
  font-family: 'Pretendard';
  max-width: 1024px;
  margin: 0 auto;
}

.lounge-post-header {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 100%;
  min-height: 300px;
  padding: 30px 40px;
  border-bottom: #EBEBEB solid 1px;
}

.header-content {
  margin-bottom: 30px;;
}
.header-title {
  font-family: 'Nanum Myeongjo';
  font-size: 45.3333px;
}

.header-subtitle {
  font-family: 'Noto Sans KR';
  font-size: 16px;
  color: #666666;
  opacity: 0.8;
}

.post-meta {
  font-size: 12px;
}

.ico-by {
  font-family: Georgia, sans-serif;
  font-style: italic;
  color: #BBBBBB;
  margin-right: 4px;
}

.author-name {
  font-family: 'Noto Sans KR';
  color: #666666;
  margin-right: 2px;
}

.separator {
  margin: 0 4px;
  color: #666666;
}

.post-date {
  font-family: 'Noto Sans KR';
  color: #BBBBBB;
}

.post-content {
  width: 100%;
  font-size: 15px;
  line-height: 2;
  color: #333333;
  padding: 30px 40px;
}

.post-content :global(img) {
  display: block;
  margin: 1rem auto;
  max-width: 100%;
  height: auto;
}

.post-interaction {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 50px 40px;
}

.like-btn, .comment-btn  {
  width: 90px;
  height: 40px;
  background-color: #ffffff;
  border: 1px solid #BBBBBB;
  border-radius: 20px;
  gap: 8px;
  cursor: pointer;
}

.comments-section-container {
  width: 100%;
  padding-bottom: 120px;
}

.comment-section {
  width: 100%;
  padding: 0 40px;
}

.comment-item {
  width: 100%;
  display: flex;
  border-top: #EEEEEE solid 1px;
}

.comment-container {
  width: 100%;
  display: flex;
  margin: 36px 0;
  position: relative;
}

.comment-user-profile-image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #BBBBBB;
  border: 2px solid #FFFFFF;
  object-fit: cover;

  display: flex;
  align-items: center;
  justify-content: center;
}

.comment-wrapper {
  width: 100%;
  padding-left: 8px;
}

.info-wrapper {
}

.comment-user-name{
  font-size: 13px;
}
.comment-user {
  font-weight: bold;
}

.comment-content {
  margin: 10px 0 0;
}

.comment-date {
  font-size: 12px;
  color: #999999;
}

.comment-edit-status {
  margin-left: 4px;
  font-size: 12px;
  color: #BBBBBB;
}

.comment-content {
  font-size: 15px;
  color: #111111;
}

.comment-setting {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: start;
}

.more-btn {
  margin-left: 15px;
  color: #666666;
}

.comment-menu {
  border: 1px solid #DDDDDD;
}

.comment-menu-item {
  padding: 9px 29px;
  font-size: 14px;
  background: white;
  color: #959595;
}

.comment-menu-item:hover {
  background: #EEEEEE;
  color: #333333;
}


.comment-writer-container {
  width: 100%;
  padding: 0 40px;
}

.comment-write-box {
  width: 100%;
  background: white;
  border: 1px solid #DDDDDD;
}

.current-user-info{ 
  display: flex;
  align-items: center;
  padding: 18px 21px 0;
}

.current-user-profile-image {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #BBBBBB;
  border: 2px solid #FFFFFF;
  object-fit: cover;

  display: flex;
  align-items: center;
  justify-content: center;
}

.current-user-name {
  margin-left: 10px;
}

.comment-input {
  padding: 12px 21px;
  border: none;
  color: #111111;
}

.editor-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  padding: 10px 21px;
  border-top: #EEEEEE solid 1px;
  
} 

.submit-button {
  width: 52px;
  height: 32px;
  font-size: 12px;
  color: #666666;
  border: #BBBBBB solid 1px;
  border-radius: 16px;
  cursor: pointer;
}

.author-info {
  position: relative;
  width: 100%;
  background: #FBFBFB;
  padding: 30px 40px;
}

.profile-picture {
  position: absolute;
  top: -20px;
  right: 40px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #BBBBBB;
  border: 2px solid #FFFFFF;
  object-fit: cover;

  display: flex;
  align-items: center;
  justify-content: center;
}
