.app-header {
  display: flex;
  width: 100%;
  min-width: 1024px;
  min-height: 64px;
  max-height: 64px;
  padding: 0 20px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #C8C8C8;
  background: #FFF;
  z-index: 200;
}

.max-width-container {
  max-width: 1440px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.app-header-left-section {
  display: flex;
  width: 60%;
  justify-content: start;
  align-items: center;
  flex-shrink: 0;
  gap: 40px;
}

.app-header-title {
  /* layout */
  display: flex;
  width: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-header-img {
  width: 100%;
}

.app-header-menubar {
  display: flex;
  width: 430px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
}

.app-header-right-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.app-header-icon {
  width: 20px;
  height: 20px;
}
