.page-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap:20px;
  padding: 20px 0;
}

.sentinel {
  height: 1px;
}

.loading { 
  padding: 12px; 
  text-align: center; 
  color: #888; 
}

@media (min-width: 1024px) {
  .page-layout {
    gap: 20px;
  }
}
