:root {
    /* min-width : auto */
    --xl-min-width: 335px;
    --lg-min-width: 330px;
    --md-min-width: 159px;
    --sm-min-width: 41px;

    /* width : fixed */
    --xl-fixed-width: 294px;
    --lg-fixed-width: 243px;
    --md-fixed-width: 100px;
    --sm-fixed-width: 93px;
    --xs-fixed-width: 48px;
    --xxs-fixed-width: 39px;

    /* height : fixed */
    --xxl-height: 54px;
    --xl-height: 50px;
    --lg-height: 48px;
    --md-height: 44px;
    --sm-height: 36px;
    --xs-height: 32px;
    --xxs-height: 30px;
    --xxxs-height: 22px;

     /* border */
    --dark-outline: 1px solid #000;
    --natural-outline: 1px solid #CCC;

    /* border-radius */
    --lg-border-radius: 30px;
    --md-border-radius: 6px;
    --sm-border-radius: 4px;

    /* background-color */
    --dark-bg-color: #2C3E50;
    --light-bg-color: #D7D2CB;
    --natural-bg-color: #C1C1C1;
    --light-dark-bg-color: #373737;
    --diabled-bg-color: #ccc;

    /* font color */
    --light-dark-font-color: #373737;
    --dark-font-color: #000;
    --light-font-color: #FFF;
    --disabled-font-color: #888;

    /* font-weight */
    --bold-font-weight: 700;
    --semi-bold-font-weight: 600;
    --regular-font-weight: 500;

    /* font-size */
    --lg-font-size: 16px;
    --md-font-size: 15px;
    --sm-font-size: 14px;
    --xs-font-size: 12px;
}

button {
    /* layout */
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    outline: none;
    box-shadow: none;    

    /* typography */
    font-family: Pretendard;
    font-style: normal;
    text-align: center;    
    line-height: 100%;

    transition: background-color 0.5s ease;
    
    /* browser-dependent settings */
    -webkit-box-shadow: none; /* WebKit-only */    
    -webkit-tap-highlight-color: transparent; /* Remove highlight in mobile Safari */
}

button:focus,
button:focus-visible,
button:active,
button:hover {
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;    
    border-color: inherit; /* Keep the original border color */
}

button:disabled {
    border: none;
    background-color: var(--diabled-bg-color);
    color: var(--disabled-font-color);
    opacity: 0.6;
    cursor: not-allowed;
}

button:disabled:hover {
  background-color: var(--diabled-bg-color);
  color: var(--disabled-font-color);
  cursor: not-allowed;
}

[class$="-dark"]:hover {
  background-color: #507591;
}

[class$="-light-dark"]:hover {
  background-color: #606060;
}

[class$="-light"]:hover {
  background-color: #b0a89d;
}

[class$="-natural"]:hover {
  background-color: #909090;
}

[class$="-outline"]:hover {
  background-color: #dddddd;
}

.fluid-xl-xl-dark {
    min-width: var( --xl-min-width);
    height: var(--xl-height);
    border-radius: var(--md-border-radius);
    background: var(--dark-bg-color);
    color: var(--light-font-color);    
    font-size: var(--md-font-size);
    font-weight: var(--semi-bold-font-weight);
}

.fluid-lg-xl-light {
    min-width: var(--lg-min-width);
    height: var(--xl-height);
    border-radius: var(--md-border-radius);
    background: var(--light-bg-color);
    color: var(--light-dark-font-color);
    font-size: var(--lg-font-size);
    font-weight: var(--semi-bold-font-weight);
}

.fixed-xl-lg-light {
    width: var(--xl-fixed-width);
    height: var(--lg-height);
    border-radius: var(--sm-border-radius);
    background: var(--light-bg-color);
    color: var(--dark-font-color);
    font-size: var(--lg-font-size);
    font-weight: var(--regular-font-weight);
}

.fixed-xl-lg-dark {
    width: var(--xl-fixed-width);
    height: var(--lg-height);
    border-radius: var(--sm-border-radius);
    background: var(--dark-bg-color);
    color: var(--light-font-color);
    font-size: var(--lg-font-size);
    font-weight: var(--regular-font-weight);
}

.fixed-lg-xl-dark {
    width: var(--lg-fixed-width);
    height: var(--xl-height);
    border-radius: var(--md-border-radius);
    background: var(--dark-bg-color);
    color: var(--light-font-color);
    font-size: var(--lg-font-size);
    font-weight: var(--semi-bold-font-weight);
}

.fluid-md-lg-light {
    min-width: var(--md-min-width);
    height: var(--lg-height);
    border-radius: var(--sm-border-radius);
    background: var(--light-bg-color);
    color: var(--dark-font-color);
    font-size: var(--lg-font-size);
    font-weight: var(--regular-font-weight);
}

.fluid-md-lg-dark {
    min-width: var(--md-min-width);
    height: var(--lg-height);
    border-radius: var(--sm-border-radius);
    background: var(--dark-bg-color);
    color: var(--light-font-color);
    font-size: var(--lg-font-size);
    font-weight: var(--regular-font-weight);
}

.fluid-md-xxl-outline {
    min-width: var(--md-min-width);
    max-width: 293px;
    height: var(--xxl-height);
    border-radius: var(--sm-border-radius);
    border: var(--dark-outline);
    color: var(--light-dark-font-color);
    font-size: var(--lg-font-size);
    font-weight: var(--regular-font-weight);
}

.fixed-sm-md-dark {
    width: var(--sm-fixed-width);
    height: var(--md-height);
    border-radius: var(--md-border-radius);
    background: var(--dark-bg-color);
    color: var(--light-font-color);
    font-size: var(--sm-font-size);
    font-weight: var(--semi-bold-font-weight);
}

.fixed-md-sm-dark {
    width: var(--md-fixed-width);
    height: var(--sm-height);
    border-radius: var(--sm-border-radius);
    background: var(--dark-bg-color);
    color: var(--light-font-color);
    font-size: var(--sm-font-size);
    font-weight: var(--semi-bold-font-weight);
}

.fixed-sm-sm-dark {
    width: var(--sm-fixed-width);
    height: var(--sm-height);
    border-radius: var(--sm-border-radius);
    background: var(--dark-bg-color);
    color: var(--light-font-color);
    font-size: var(--sm-font-size);
    font-weight: var(--semi-bold-font-weight);
}

.fixed-xs-xs-dark {
    padding: 10px 6px;
    width: var(--xs-fixed-width);
    height: var(--xs-height);
    border-radius: var(--sm-border-radius);
    background: var(--dark-bg-color);
    color: var(--light-font-color);
    font-size: var(--xs-font-size);
    font-weight: var(--regular-font-weight);
}

.fixed-xs-xs-natural {
    padding: 10px 6px;
    width: var(--xs-fixed-width);
    height: var(--xs-height);
    border-radius: var(--sm-border-radius);
    background: var(--natural-bg-color);
    color: var(--dark-font-color);
    font-size: var(--xs-font-size);
    font-weight: var(--regular-font-weight);
}

.fluid-sm-xxs-dark {
    padding: 0 9px;
    min-width: var(--sm-min-width);
    height: var(--xxs-height);
    border-radius: var(--sm-border-radius);
    background: var(--dark-bg-color);
    color: var(--light-font-color);
    font-size: var(--xs-font-size);
    font-weight: var(--regular-font-weight);
}

.fluid-sm-xxs-outline {
    padding: 0 9px;
    min-width: var(--sm-min-width);
    height: var(--xxs-height);
    border-radius: var(--sm-border-radius);
    border: var(--natural-outline);
    color: var(--dark-font-color);
    font-size: var(--xs-font-size);
    font-weight: var(--regular-font-weight);
}

.fluid-sm-xxxs-natural {
    padding: 0 9px;
    min-width: var(--sm-min-width);
    height: var(--xxxs-height);
    border-radius: var(--sm-border-radius);
    background: var(--natural-bg-color);
    color: var(--dark-font-color);
    font-size: var(--xs-font-size);
    font-weight: var(--regular-font-weight);
}

.fluid-sm-xxs-light-dark {
    padding: 0 9px;
    min-width: var(--sm-min-width);
    height: var(--xxs-height);
    border-radius: var(--sm-border-radius);
    background: var(--light-dark-bg-color);
    color: var(--light-font-color);
    font-size: var(--xs-font-size);
    font-weight: var(--regular-font-weight);
}
